<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
<!--    <div mat-card-avatar class="example-header-image">-->
<!--      <mat-icon class="icon-display">meeting_room</mat-icon>-->
<!--    </div>-->
    <mat-card-title>Meetingraum</mat-card-title>
    <mat-card-subtitle>6243.2</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h3>Devices</h3>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Device 1</span>
        <span matListItemLine>ab:ab:ab:ab:ad:ab</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Title</span>
        <span>Second line</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Title</span>
        Second line
      </mat-list-item>
    </mat-list>
<!--    <div cdkDropListGroup>-->
<!--      <div class="example-container">-->
<!--        <h2>Devices</h2>-->
<!--        <div-->
<!--          cdkDropList-->
<!--          [cdkDropListData]="devices"-->
<!--          class="example-list"-->
<!--          (cdkDropListDropped)="drop($event)">-->
<!--          @for (item of devices; track item) {-->
<!--            <div class="example-box" cdkDrag>{{item}}</div>-->
<!--          }-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="example-container">-->
<!--        <h2>Calendars</h2>-->

<!--        <div-->
<!--          cdkDropList-->
<!--          [cdkDropListData]="done"-->
<!--          class="example-list"-->
<!--          (cdkDropListDropped)="drop($event)">-->
<!--          @for (item of done; track item) {-->
<!--            <div class="example-box" cdkDrag>{{item}}</div>-->
<!--          }-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </mat-card-content>
  <mat-card-actions>
<!--    <button mat-icon-button>-->
<!--      <mat-icon>edit</mat-icon>-->
<!--    </button>-->
  </mat-card-actions>
</mat-card>
