<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
<!--    <div mat-card-avatar class="example-header-image">-->
<!--      <mat-icon class="icon-display">meeting_room</mat-icon>-->
<!--    </div>-->
    <mat-card-title>{{room.name}}</mat-card-title>
    <mat-card-subtitle>{{room.id_string}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="room.ews_info">
      EWS Connection<br/>
      {{room.ews_info.email}}<br/>
      {{room.ews_info.tenant_id}}
    </div>
    <div *ngIf="room.ical_info">
      ICal Connection<br/>
      {{room.ical_info.endpoint}}
    </div>
    <div *ngIf="room.persons">
      Office<br/>
      <mat-list>
        <mat-list-item *ngFor="let person of room.persons">
          <span matListItemTitle>{{person.name}} ({{person.job}})</span>
          <span matListItemLine>{{person.email}}</span>
          <div *ngIf="person.ews_info">
            EWS Connection<br/>
            {{person.ews_info.email}}<br/>
            {{person.ews_info.tenant_id}}
          </div>

        </mat-list-item>
      </mat-list>
    </div>

 </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
